/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
.model{
    width: 80%;
    height: auto;
    margin: 50px auto;
    padding: 20px 30px;
}
.flex{
    display: flex;
}
.jc-evenly{
    justify-content: space-evenly;
}
.jc-around{
    justify-content: space-around;
}
.jc-between{
    justify-content: space-between;
}
.bg-pinkish{
    background-color: rgb(230, 136, 154);
}
footer a img:hover{
    transform: rotateZ(-20deg);
    cursor: pointer;
    transition: all 1s;
}
@keyframes appear{
    from{opacity: 0;}
    to{opacity: 1;}
}
body{
    background-image: url(../img/sewing-pattern.jpg);
    background-attachment: fixed;
}
nav ul li{
    margin: 20px;
}
.anim-underline ul li a{
    background: linear-gradient(currentColor,currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.anim-underline ul li a:hover{
    background-size: 100% 2px;
}
footer{
    background-color: rgb(191, 174, 153); 
    padding: 30px 30px;
    text-align: center;
}
    footer a{
        text-decoration: none;
    }
        footer p{
            font-size: 0.8em;
            margin-top: 20px;
        }
h1,h2{
    color: black;
    animation-name: appear;
    animation-duration: 3s;
}
section div h1{
    color: black;
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 50px;
}
section div p{
    line-height: 45px;
    font-size: 1.2em;
    padding: 10px 30px;
}

/* INDEX / INICIO */

.div-model{
    width: 100%;
    height: auto;
    margin: 30px;
    padding: 30px;
    border: dashed 5px rgb(230, 136, 154);
    animation-name: appear;
    animation-duration: 3s;
}
.img-model{
    width: 30%;
    height: auto;
    margin: 30px;
    padding: 30px;
}

/* MÁQUINAS */

.maq-fig{
    margin-left: 50px;
    margin-bottom: 50px;
    animation-name: appear;
    animation-duration: 3s;
}
.maq-p{
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 50px;
    padding-left: 20px;
    font-size: 1.2em;
    line-height: 40px;
    text-align: center;
    animation-name: appear;
    animation-duration: 3s;
}

/* GALERIA */

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    padding: 1em;
    gap: 1em;
}
.gal-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.gal-area:nth-child(13){
    grid-column-start: span 2;
}
.gal-area:nth-child(16){
    grid-column-start: span 2;
}
@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(3,1fr);
    }
    .gal-area:nth-child(13){
        grid-column-start: span 2;
    }
    .gal-area:nth-child(16){
        grid-column-start: span 2;
    }
}
@media (min-width: 1024px){
    .grid{
        grid-template-columns: repeat(4,1fr);
    }
    .gal-area:nth-child(13){
        grid-column-start: span 3;
    }
    .gal-area:nth-child(16){
        grid-column-start: span 3;
    }
}

/* SERVICIOS */

.serv-titles{
    font-size: 2em;
    font-weight: bold;
    color: black;
    padding: 20px 30px;
    text-align: center;
    animation-name: appear;
    animation-duration: 3s;
}
.serv-p{
    margin: 20px 30px;
    padding: 20px 30px;
    font-size: 1.2em;
    line-height: 40px;
    border: dashed 5px rgb(230, 136, 154);
    text-align: center;
    animation-name: appear;
    animation-duration: 3s;
}

/* CONTACTO */

.grad-button{
    background: linear-gradient(to top, pink, rgb(230, 136, 154));
}