// general

*{
    margin: 0;
    padding: 0;
    font-family: $main-font;
}
body{
    background-image: url(../img/sewing-pattern.jpg);
    background-attachment: fixed;
}

// animación aparición lenta

@keyframes appear{
    from{opacity: 0;}
    to{opacity: 1;}
}
.slowly-appear{
    animation-name: appear;
    animation-duration: 3s;
}

// modelo h1

.model{
    margin: 50px auto;
    padding: 25px;
}

.flex{
    display: flex;
}
.jc-evenly{
    justify-content: space-evenly;
}
.jc-around{
    justify-content: space-around;
}
.jc-between{
    justify-content: space-between;
}
.jc-center{
    justify-content: center;
}

// animación navbar

.anim-underline{
    ul{
        li{
            a{
                background: $navbar-grad;
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
                &:hover{
                    background-size: 100% 2px;
                }
            }
        }
    }
}

// mixin

@mixin text($font-size,$line-height,$color){
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    font-family: $main-font;
    text-align: center;
}

p{
    @include text(1em,2.3em,black);
}
h1{
    @include text(1.5em,normal,black);
}
h2{
    @include text(1.2em,normal,black);
}

// para textos de la página de máquinas (gracias por el truco profe!)

.line-clamp{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }