// colors

$main-color: rgb(230, 136, 154);
$footer-color: rgb(191, 174, 153);
$font-color: black;
$grad-color: linear-gradient(to top, pink, rgb(230, 136, 154));

// shadow

$shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.2);

// font family

$main-font: 'Noto Sans', sans-serif;

// font size

$sm-font: 0.8em;
$md-font: 1.2em;
$lg-font: 2em;

// border

$pink-border: dashed 5px rgb(230, 136, 154);

// navbar anim

$navbar-grad: linear-gradient(currentColor,currentColor);

// transform

$rotate: rotateZ(-20deg);